<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
    <springProfile name="prod">
        <springProperty name="kafka.topic" source="KAFKA_TOPIC"/>
        <springProperty name="kafka.bootstrap.servers" source="KAFKA_BOOTSTRAP_SERVERS"/>
        <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date - %-5p %t %-25logger{5} %F:%L %m%n</pattern>
            </encoder>
        </appender>
        <!--KafkaAppender-->
        <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
            <encoder class="com.github.danielwegener.logback.kafka.encoding.LayoutKafkaMessageEncoder">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </layout>
            </encoder>
            <topic>${kafka.topic}</topic> <!-- Kafka 토픽 이름 -->
            <!--        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />-->
            <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
            <producerConfig>max.block.ms=1000</producerConfig>
            <producerConfig>reconnect.backoff.max.ms=30000</producerConfig>
            <producerConfig>retries=1</producerConfig>
            <producerConfig>bootstrap.servers=${kafka.bootstrap.servers}</producerConfig> <!-- Kafka 서버 주소 -->
        </appender>
        <!--KafkaLogger-->
        <logger name="kafka-logger" level="INFO" additivity="false">
            <appender-ref ref="kafkaAppender"/>
            <appender-ref ref="Console"/>
        </logger>
        <!-- 로깅 레벨 설정 -->
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.security" level="TRACE"/>
        <logger name="web" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <springProperty name="kafka.topic" source="KAFKA_TOPIC"/>
        <springProperty name="kafka.bootstrap.servers" source="KAFKA_BOOTSTRAP_SERVERS"/>
        <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date - %-5p %t %-25logger{5} %F:%L %m%n</pattern>
            </encoder>
        </appender>
        <!--KafkaAppender-->
        <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
            <encoder class="com.github.danielwegener.logback.kafka.encoding.LayoutKafkaMessageEncoder">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </layout>
            </encoder>
            <topic>${kafka.topic}</topic> <!-- Kafka 토픽 이름 -->
            <!--        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />-->
            <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
            <producerConfig>max.block.ms=1000</producerConfig>
            <producerConfig>reconnect.backoff.max.ms=30000</producerConfig>
            <producerConfig>retries=1</producerConfig>
            <producerConfig>bootstrap.servers=${kafka.bootstrap.servers}</producerConfig> <!-- Kafka 서버 주소 -->
        </appender>
        <!--KafkaLogger-->
        <logger name="kafka-logger" level="INFO" additivity="false">
            <appender-ref ref="kafkaAppender"/>
            <appender-ref ref="Console"/>
        </logger>
        <!-- 로깅 레벨 설정 -->
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.security" level="TRACE"/>
        <logger name="web" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date - %-5p %t %-25logger{5} %F:%L %m%n</pattern>
            </encoder>
        </appender>
        <!--OFF 명시를 굳이 안해줘도 테스트 시 KafkaAppender 작동안함.-->
        <logger name="kafka-logger" level="OFF"/>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

</configuration>
